* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  background: rgb(243, 170, 86);
}
#contain {
  margin: 50px;
  height: auto;
}
header h1 {
  text-align: center;
  color: rgb(5, 5, 5);
  font-family: sans-serif;
}
header {
  padding-top: 30px;
  background-color: rgb(231, 231, 233);
  padding-bottom: 30px;
}
section #selections {
  display: flex;
  justify-content: space-around;
}
section #selections #i {
  padding: 25px;
  border: 4px solid white;
  border-radius: 50%;
  font-size: 100px;
  cursor: pointer;
  transition: all 0.5s ease;
}
section #selections #i:hover {
  transform: scale(1.5);
  background: white;
}
.score {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 3px;
  width: 200px;
  height: 40px;
  font-size: 25px;
  padding: 15px 30px;
  font-family: sans-serif;
  position: relative;
  text-align: center;
}
#user,
#computer {
  background: rgb(105, 103, 99);
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 2px 8px;
}
#user {
  position: absolute;
  top: 20px;
  left: -22px;
}
#computer {
  position: absolute;
  top: 20px;
  right: -40px;
}
